html, body {
  margin: 0;
  padding: 0; }

.row {
  max-width: 800px;
  margin: 0 auto;
  width: 100%; }
  .row:after {
    clear: both;
    content: " ";
    display: table; }

[class^="col-"] {
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
  min-height: 10px;
  position: relative; }
  [class^="col-"]:last-child {
    float: right; }

.col-50 {
  width: 50%; }

* {
  font-family: "Brandon Grotesque";
  font-weight: 800; }

h1 {
  font-size: 42px;
  text-transform: uppercase;
  color: #1e1e1e; }

p {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0; }

section.step {
  height: 100vh;
  transition: all 0.5s; }
  section.step.ng-hide-add {
    margin-left: 0; }
  section.step.ng-hide-add.ng-hide-add-active {
    margin-left: -100%; }
  section.step.ng-hide-remove {
    margin-left: 100%; }
  section.step.ng-hide-remove.ng-hide-remove-active {
    margin-left: 0; }

question .slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f39c11;
  z-index: 5;
  overflow: hidden; }
  question .slider.clicked {
    height: 100% !important; }
  question .slider h1 {
    position: fixed;
    color: white; }
  question .slider .value {
    color: white; }

question h1 {
  z-index: 2;
  max-width: 600px;
  left: 50px;
  top: 30px;
  position: absolute; }

question.clicked .slider {
  height: 100vw;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  /* easeOutSine */ }

question .answer {
  background-color: #1e1e1e;
  position: absolute;
  width: 100%;
  z-index: 8;
  height: calc(100% - 150px);
  transition: all 0.65s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  /* easeOutSine */
  transition-delay: .1s;
  color: white;
  visibility: hidden; }
  question .answer.visible-add {
    top: 100%;
    height: 100%; }
  question .answer.visible-add-active {
    top: 0px;
    height: calc(100% - 150px); }
  question .answer.visible {
    visibility: visible;
    top: 0px;
    height: calc(100% - 150px); }
  question .answer .content {
    width: 800px;
    margin: 0 auto;
    margin-top: 10%; }
  question .answer .result {
    font-size: 70px;
    margin-top: -20px;
    display: block; }

question .bottom-bar {
  height: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  float: left; }
  question .bottom-bar > div {
    float: right; }
  question .bottom-bar .next {
    float: right;
    display: block;
    height: 100%;
    background-color: white;
    line-height: 150px;
    padding: 0 30px;
    color: #1e1e1e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    overflow: hidden;
    transition: all 1s;
    transition-delay: 2s;
    max-width: 700px; }
    question .bottom-bar .next.ng-enter {
      max-width: 0;
      padding: 0; }
    question .bottom-bar .next.ng-enter-active {
      max-width: 700px;
      padding: 0 30px; }

question .your-tip {
  text-transform: uppercase;
  transition-delay: .4s; }
  question .your-tip.ng-enter {
    opacity: 0; }
  question .your-tip.ng-enter.ng-enter-active {
    opacity: 1; }

question .value {
  line-height: 150px;
  padding-right: 50px;
  font-size: 60px;
  color: #1e1e1e; }
  question .value.background {
    position: absolute;
    bottom: 0;
    right: 0; }

question .color-1 .slider {
  background-color: #f39c11; }

question .color-2 .slider {
  background-color: #eb6f63; }

question .color-3 .slider {
  background-color: #2a80b9; }

.dots .dot {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  margin: 0 15px 15px 0;
  background-color: #f39c11;
  float: left;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .dots .dot.ng-enter {
    transform: scale(0); }
  .dots .dot.ng-enter-stagger {
    transition-delay: 0.01s;
    transition-duration: 0s; }
    .dots .dot.ng-enter-stagger:first-child {
      transition-delay: 1s; }
  .dots .dot.ng-enter.ng-enter-active {
    transform: scale(1); }

/*# sourceMappingURL=app.css.map */