<!doctype html>
<html ng-app="gegen-fremdenfeindlichkeit" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta name="viewport" content="width=1400" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta property="og:site_name" content="Flucht.io - Die Zahlen und Fakten der Flüchtlingssituation"/>
        <meta property="og:image" content="img/site-preview.png">
        <meta property="og:type" content="website"/> 
        <meta property="og:description" content="Die Flüchtlingssituation in Deutschland und weltweit geht uns alle etwas an. Aber auch wenn sich viele schon engagieren kennen wenige die wirklichen Zahlen und Fakten dahinter. In dieser interaktiven Infografik könnt ihr euer Wissen zu diesem Thema testen."/>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
        <script src="bower_components/angular-count-to/build/angular-count-to.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/services.js"></script>
        <script src="https://use.typekit.net/mxq0yba.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="css/app.css?">
        <script src="bower_components/Chart.js/Chart.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>flucht.io</title>
    </head>
    <body ng-controller="appCtrl" ng-init="init()" >
        <div class="changeBrowser" ng-show="changeBrowser || is_touch_device">
            <div class="message" ng-show="changeBrowser && !is_touch_device" >
                <div class="browserLogos">
                    <a href="https://www.google.de/chrome/browser/desktop/" target="_blank"><img src="img/chrome.png"></a>
                    <a target="_blank" href="https://support.apple.com/de_DE/downloads/safari"><img src="img/safari.png"></a>
                </div>
                <p>
                Um eine flüssige und korrekte Darstellung dieser Seite zu garantieren empfehlen wir sie mit der neusten Version <a href="https://www.google.de/chrome/browser/desktop/" target="_blank">Google Chrome</a> oder <a target="_blank" href="https://support.apple.com/de_DE/downloads/safari">Safari</a> zu öffnen.
                </p>

            </div>
            <div class="message" ng-show="is_touch_device" >
                <div class="browserLogos">
                    <a href="https://www.google.de/chrome/browser/desktop/" target="_blank"><img src="img/cursor-touch.png"></a>
                </div>
                <p >
                Diese Seite kannst du leider nicht mit einem Touchdisplay bedienen.
                </p>

            </div>
        </div>
        <div id="progress"><div class="progressBar" ng-style="{ 'width': questionNumber >= 0 ? (100/questions.length)*(questionNumber+1) + '%':0, 'background-color':questions[questionNumber].color }"></div></div>
        <wizard on-finish="finishedWizard()" hide-indicators="true" >
        <wz-step >
        <div  class="startpage">
            <div class="content">
                <div class="row wrapper introsteps">
                    <div class="col-50">
                       <h1>flucht.io</h1>
                        <p>Die Flüchtlingssituation in Deutschland und weltweit geht uns alle etwas an. Aber auch wenn sich viele schon engagieren kennen wenige die wirklichen Zahlen und Fakten dahinter. In dieser interaktiven Infografik könnt ihr euer Wissen zu diesem Thema testen.</p>
                    </div>
                    <div class="col-50">
                        <h3 style="padding:0px 35px; margin-bottom:20px">So funktioniert's:</h3>
                        <div style="padding:0px 25px 10px;" ng-include="'img/step-1.svg'" ></div>
                        <div class="row">
                             <div class="col-70">
                                 <small ng-show="introStep==1">Bewege deinen Cursor im Browserfenster auf und ab um um deine Antwort festzulegen.</small>
                        <small ng-show="introStep==2">Durch Klicken bestätigst du deine Antwort und erhälst die Lösung im Vergleich zu deinem Tipp dargestellt.</small>
                        <small ng-show="introStep==3">Mit dem Pfeil Button unten rechts in der Ecke geht es zur nächsten Frage.
</small>
                             </div>
                             <div class="col-30" style="padding:0 10px 0 25px; !important;">
                                 <img  src="img/arrow_button.svg" ng-click="nextIntroStep()" ng-class="{'hide':introStep>2}" class="introNext">
                                 <span ng-click="toStep('q_0')" class="introGo" ng-class="{'hide':introStep<=2}" >LOS</span>
                             </div>
                        </div>
                        
                    </div>
                   </div>
            </div>
            <div ng-hide="started" class="startbutton"  ng-click="toStep('q_0')">Los geht's <img src="img/next-white.svg"></div>
        </div>
        </wz-step>
        <wz-step wz-title="q_{{$index}}" ng-repeat="q in questions" ng-init="gotoStart()" ng-mousemove="q.clicked || changeValue($event, $index)" ng-click="setValue($event, $index)">
        <div class="cursor mouseNotMoved" ng-show="!q.clicked" ng-mousedown="cursorMousedown($event)">
            <svg width="22px" height="40px" viewBox="0 0 22 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="{{q.color}}">
            <g sketch:type="MSArtboardGroup" transform="translate(-955.000000, -466.000000)" >
            <g  sketch:type="MSLayerGroup" transform="translate(937.000000, 456.000000)">
            <g  transform="translate(18.000000, 10.000000)" sketch:type="MSShapeGroup">
            <path d="M11,0 L22,13.2593752 L0,13.2593752 L11,0 Z M11,39.2593752 L22,26 L0,26 L11,39.2593752 Z" id="Triangle-1"></path>
            </g>
            </g>
            </g>
            </svg>
        </div>
        <div class="question" ng-class="{'showcursor' : !q.clicked}">
            <h1 ng-hide="q.showchart">{{q.question}}</h1>
            <span ng-hide="q.showchart" class="value background">{{q.value}}{{q.unit}}</span>
            <div ng-style="{'background-color':q.color, 'height':q.slider_height}" class="slider" ng-class="{clicked: q.clicked}">
                <h1>{{q.question}}</h1>
                <div class="bottom-bar">
                    <div class="next-container" ng-class="{'clicked' : q.clicked}">
                        <a  ng-click="toStep('q_'+ ($index+1))" class="next" ><img src="img/next.svg"></a>
                    </div>
                    <div class="value" ng-class="{'bottom':q.clicked}">
                        <span class="your-tip" ng-class="{'clicked' : q.clicked}">Dein Tipp war </span>
                        {{q.value}}{{q.unit}}
                    </div>
                </div>
            </div>
            <div class="answer" ng-class="{visible: q.clicked}">
                <div class="content" ng-include="q.charttemplate">
                </div>
                <a target="_blank" href="{{q.source}}" class="info" ng-mouseover="show_info = true" ng-mouseleave="show_info=false">
                <div class="info-text" ng-show="show_info">{{q.sourcetitle}}</div>
                <div class="info-icon"></div>
                </a>
            </div>
        </div>
        </wz-step>
        <wz-step  wz-title="q_8">
        <div class="results">
            <div class="results_content">
                <div class="row wrapper">
                    <div class="col-100">

                        <h1>Dein Ergebnis</h1>
                        <div class="legend">
                            <ul>
                                <li><div class="color_sq "></div> Deine Schätzung</li>
                                <li><div class="color_sq blue"></div> Richtiges Ergebnis</li>
                            </ul>
                        </div>
                        <div class="infoShare">
                            Ein Projekt von <a href="https://twitter.com/juliussohn" target="_blank" style="color:#13DFA4">Julius</a> & <a href="https://twitter.com/juliusgehrig"  style="color:#f39c11"target="_blank">Julius</a>
                            <div class="share">
                                <span>Teile dieses Projekt mit<br> deinen Freunden</span>
                                <a target="_blank" href="https://twitter.com/intent/tweet?text=flucht.io%20%E2%80%93%20interaktive%20Infografiken%20zur%20Fl%C3%BCchtlingssituation%20http%3A%2F%2Fflucht.io"><img src="img/twitter.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row wrapper">
                    <div class="col-25 " ng-if="showresults" ng-repeat="q in questions">
                        <div class="result_info"  >
                            <div class="question-text" ng-style="{'background-color':q.color}">
                                {{q.question}}
                            </div>
                            <h2 >Frage {{$index +1 }}</h2>
                            <canvas  class="result_chart" width="210" height="150" ng-init="result_chart($index)"></canvas>
                            <div class="row">
                                <div class="col-50">{{q.value}}{{q.unit}}</div>
                                <div class="col-50">{{q.result}}{{q.unit}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a ng-click="refresh()" class="refresh">
            <div class="circle">
                <img src="img/reload.svg">
            </div>
            <div class="text">Neustart</div>
            </a>
        </div>
    </div>
    </wz-step>
    </wizard>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-69618111-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>