.dots{

	.dot{
		height: 16px;
		width: 16px;
		border-radius: 100%;
		margin: 0 15px 15px 0;
		background-color: $color-1;
		float: left;
		-webkit-transition:all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

		&.ng-enter {
		 transform:scale(0);
		}
		&.ng-enter-stagger {
		  transition-delay: 0.01s;
		  transition-duration: 0s;
		  &:first-child{
		  	transition-delay: 1s;
		  }
		}
		&.ng-enter.ng-enter-active {
		  transform:scale(1);
		
		}
	}
} 