question{
	.slider{
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: $color-1;
		z-index: 5;
		overflow: hidden;
		&.clicked{
			height: 100% !important;
		}

		h1{
			position: fixed;
			color: white;
		}
		.value{
			color: white;
		}
	}
	h1{
			z-index: 2;
			max-width:600px;
			left: 50px;
			top: 30px;
			position: absolute;
	}
	.value{
		position: fixed;
		bottom: 40px;
		right: 50px;
		font-size: 100px;
		color: $black;
	}
	&.clicked{
		.slider{
			height: 100vw;
			transition:all .5s;
			 transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
		}
	}
	.answer{
		background-color: $black;
		position: absolute;
		width:100%;
		z-index: 8;
		height: 100%;
		 transition:all .65s;
		  transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
		  transition-delay: .1s;
		  color: white;
		
		&.ng-enter {
		  /* standard transition code */
		  
		  top:100%;
		}
		&.ng-enter-stagger {
		  /* this will have a 100ms delay between each successive leave animation */
		  transition-delay: 2s;

		  /* As of 1.4.4, this must always be set: it signals ngAnimate
		    to not accidentally inherit a delay property from another CSS class */
		  transition-duration: 0s;
		}
		&.ng-enter.ng-enter-active {
		  /* standard transition styles */
		  top:0;
		}
	}

	.color-1{
		.slider{
			background-color: $color-1;
		}
	}
	.color-2{
		.slider{
			background-color: $color-2;
		}
	}
	.color-3{
		.slider{
			background-color: $color-3;
		}
	}
}