question{
	.slider{
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: $color-1;
		z-index: 5;
		overflow: hidden;
		//cursor: url(../img/cursor.png) 30 30, auto;
		&.clicked{
			height: 100% !important;
		}

		h1{
			position: fixed;
			color: white;
		}
		.value{
			color: white;
		}
	}
	h1{
			z-index: 2;
			max-width:600px;
			left: 50px;
			top: 30px;
			position: absolute;
	}
	
	&.clicked{
		.slider{
			height: 100vw;
			transition:all .5s;
			 transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
		}
	}
	.answer{
		background-color: $black;

		position: absolute;
		width:100%;
		z-index: 8;
		height: calc(100% - 150px);
		 transition:all .65s;
		  transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
		  transition-delay: .1s;
		  color: white;
		  visibility: hidden;
		// top:-150px;

		&.visible-add {
		  top:100%;
		  height: 100%;
		}

		&.visible-add-active {
		  top:0px;
		  height: calc(100% - 150px);
		}
		&.visible {
			visibility:visible;
		  top:0px;
		  height: calc(100% - 150px);
		}
		.content{
			
			width: 800px;
			margin: 0 auto;
			margin-top: 10%;

		}
		.result{
			font-size: 70px;
			margin-top: -20px;
			display: block;
		}


	}
	.bottom-bar{
		height: 150px;
		position: absolute;
		bottom: 0;
		width: 100%; 
		float: left;
		&>div{
			float: right;
		}
		.next{
			float: right;
			display: block;
			height: 100%;
			background-color: white;
			line-height: 150px;
			padding: 0 30px;
			color: $black;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 50px;
			overflow: hidden;
			transition: all 1s;
			transition-delay:2s;
			max-width: 700px;
			&.ng-enter{
				max-width: 0;
				padding: 0;
			}	
			&.ng-enter-active{
				max-width: 700px;
				padding: 0 30px;
			}
		}
	}
	.your-tip{
		text-transform: uppercase;
		 transition-delay: .4s;
		&.ng-enter {
		  opacity: 0;
		}
		&.ng-enter.ng-enter-active {
		  opacity: 1;
		}
	}
	.value{
		line-height: 150px;
		//padding-bottom: 30px;
		padding-right: 50px;
		font-size: 60px;
		color: $black;
		&.background{
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	.color-1{
		.slider{
			background-color: $color-1;
		}
	}
	.color-2{
		.slider{
			background-color: $color-2;
		}
	}
	.color-3{
		.slider{
			background-color: $color-3;
		}
	}
}

