section.step{
	height: 100vh;
	transition:all .5s;
	
	&.ng-hide-add { 
		margin-left: 0;
	 }
	&.ng-hide-add.ng-hide-add-active {
	margin-left: -100%; }
	&.ng-hide-remove { 
	margin-left: 100%;
	 }
	&.ng-hide-remove.ng-hide-remove-active {
	margin-left: 0; }
}
/*

$step_distance: 1000px;
$step_animtaion_duration: .5s;

.step.ng-hide{

}
.step.ng-hide-add {
    -webkit-transition: $step_animtaion_duration, opacity .3s;
	display: block !important;

    
}

.step.ng-hide-add.ng-hide-add-active {
    margin-top: 0;
    &.slide-left{
		-webkit-transform:translateX($step_distance * -1);	
	}
	&.slide-right{
		-webkit-transform:translateX($step_distance);	
	}

}

.step.ng-hide-remove {
	 -webkit-transition: $step_animtaion_duration, opacity .3s;
	display: block !important;

    opacity: 0;
    
      &.slide-left{
		-webkit-transform:translateX($step_distance);	
	}
	&.slide-right{
		-webkit-transform:translateX($step_distance * -1);	
	}
}
.step.ng-hide-remove.ng-hide-remove-active {
	-webkit-transform:translateX(0px);	
	
    opacity: 1;
}
*/