<div class="row">
    <div class="col-35 chart">
        <div >
            <img src="img/calendar.svg" style="width:100%;">
            <div  ng-if="q.showchart"  ng-style="{'color': q.color}" class="pi_number" style="transform:scale(2); margin-top:-50px; display:block;"><span count-to="{{q.result}}" duration="0.8" count-from="0"></span>
</div>
         
        </div>
    </div>
    <div class="col-65">
        <span class="result">{{q.result}}{{q.unit}}</span>
        <p>dauert die bearbeitung eines Asylantrags in Deutschland durchschnittlich. Die Schweiz und Norwegen haben ein System implementiert, um dise Zeit auf 48 Stunden zu verkürzen.

</p>
    </div>
</div>
