<div class="question color-{{color}}" >
    <h1>{{question}}</h1>
    <span class="value background">{{value}}{{unit}}</span>
    <div class="slider" ng-class="{clicked: clicked}">
        <h1>{{question}}</h1>
        <div class="bottom-bar">
        	<a wz-next class="next" ng-if="clicked">weiter</a>
        	<div class="value">
        		<span class="your-tip" ng-if="clicked">Dein Tipp war </span> 
        		{{value}}{{unit}}{{template}}
        	</div>
        	
        </div>
        
    	
    </div>
    <div class="answer" ng-class="{visible: clicked}">
        <div class="content" >
            <div class="row">
                <div class="col-50" ng-include="charttemplate">
                    
                </div>
                <div class="col-50">
                    <span class="result">{{result}}{{unit}}</span>
                    <p>{{description}}</p>
                </div>
            </div>
       
    </div>
</div>